{
    "debug": true,
    "tlsverify": true,
    "tlscert": "/var/docker/server-cert.pem",
    "tlskey": "/var/docker/server-key.pem",
    "tlscacert": "/var/docker/ca.pem",
    "data-root": "{{ docker_data_root }}"
}
